/*=======scrollbar CSS=======*/
*::-webkit-scrollbar{
    width: 12px;
}
&::-webkit-scrollbar-track{
    background: black;
}
&::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}
